<header class="l-header">
    <ul class="top-menu disable-link-styles">
        <li class="logo-small-container">
            <a class="v-center-block-parent">
                <img class="v-center-block logo-small angular-university-logo"
                     src="/assets/main-page-logo-small-hat.png">
            </a>
        </li>
        <li>
            <a routerLink="/lessons">Lessons</a>
        </li>
    </ul>
</header>

<main>

    <div class="course-header">
        <h3>Angular PWA Course</h3>
        <img class="course-logo pwa-logo" src="/assets/angular-pwa-course.png">
    </div>

    <router-outlet></router-outlet>

</main>





